<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.registration">

<uses-permission android:name="android.permission.INTERNET" />

<application
    android:allowBackup="true"
    android:hardwareAccelerated="false"
    android:icon="@mipmap/logo2"
    android:label="Moscow Universities"
    android:largeHeap="true"
    android:roundIcon="@mipmap/logo2"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    <activity android:name=".DescriptionActivity"></activity>
    <activity android:name=".MainActivity">
    </activity>
    <activity android:name=".WebActivity"></activity>
    <activity android:name=".Zagruzka">
        <intent-filter>
    <action android:name="android.intent.action.MAIN" />

    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
    <activity android:name=".PanoramaActivity" />
    <activity android:name=".SearchActivity" />
    </application>

</manifest>